@import "./main.css";
@import "./menu.css";

.calendar {
    /* min-width: 80px;
    min-height: 80px;
    max-width: 300px;
    max-height: 300px; */
    border: 1px solid rgb(177, 177, 177);;
    font-size: 14px;
    border-radius: 8px;
}

.event {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.close-event{
    visibility: hidden;
}

.event:hover {
    cursor: pointer;
}

.tag-close-btn{
    font-size: 0.6rem;
}

.hidden{
    display: none;
}