@import "./main.css";

/* .ant-btn-primary{
    background-color: var(--blue)
}

.ant-btn-primary:hover{
    background-color: var(--orange) !important;
}

.headerBg{
    color: red !important;
    background-color: red !important;
}

.headerColor{
    color: red !important;
} */