body {
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    background-color: #FFE39F;
  }


/*--------------Navigation menu Style--------------*/
.sidebar{
    width:20%;
    display: inline-block;
    border: 3px solid #FFAD60;
    background-color: #FFAD60;
    border-radius: 40px;
    box-shadow: 3px 3px 10px #615019;
    padding: 20px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}
.sidebar img{
    border-radius: 40px;
}
.sidebar ul{
    text-decoration: none;
    list-style-type: none;
    font-size:large;
    font-weight: bold;
}
.sidebar li{
    padding-top:5px;
}
.sidebar a{
    text-decoration: none;
    color:black;
}
.sidebar a:hover{
    background-color:grey;
    color:white;
}
#active{
    background-color:grey;
    color:white;
}
.WelcomeUser{
    display: inline-block;
    padding: 20px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}




/*--------------Anouncements-------------- */
.announcement{
    display: inline-block;
    border: 3px solid black;
    width:70%;
    vertical-align: top;
}
.announcement h2{
    margin-left: 10px;
}
#anounceTable td{
    padding:10px;

}
#anounceTable_DB{
    border:1px solid black;
    text-align: center;
    width: 80%;
    margin: 10px;
}



/*--------------Expenses-------------- */
.expenses{
    display: inline-block;
    width:65%;
    vertical-align: top;
    margin-left:20px;
    background-color: #FFE39F;
    border-radius: 40px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}
.expenses h2{
    margin: 10px;
    color:#66b2b2;
    letter-spacing: 5px;
    font-size: xx-large;
    text-shadow: 1px 1px 1px #004C4C;
}
.carName{
    font-size: large;
    color:#66b2b2;
    letter-spacing: 3px;
    text-align: center;
    background-color: white;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
    width: 300px;
    border-radius: 10px;
    box-shadow:inset 1px 1px 2px 1px #375847;
}
.carNameAdd{
    background-color: #004c4c;
    border-radius: 5px;
    border:none;
    box-shadow: 1px 1px 2px #010101;
    height: 35px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 1px 5px 1px 5px;
    border:1px solid #004c4c;
    color:#ffffff;
    display: block;
    margin: 5px;
}
.carNameAdd:hover{
    background-color: #b2d8d8;
    transition-duration: 0.5s;
    color:#004c4c;
}
.expenses td{
    width: 90px;
}
#tabMasina1 {
    border: 1px 1px 3px solid #66b2b2;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    background-color: #66b2b2;
}
#tabMasina1 td{
    padding: 10px;
    text-align: center;
}
#tabMasina2{
    border: 1px 1px 3px solid #66b2b2;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    background-color: #66b2b2;
}
#tabMasina2 td{
    padding: 10px;
    text-align: center;
}
#tabCasa{
    border: 1px 1px 3px solid #66b2b2;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    background-color: #66b2b2;
}
#tabCasa td{
    padding: 10px;
    text-align: center;
}
#tabEntertainment{
    border: 1px 1px 3px solid #66b2b2;
    margin: 10px;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #000000;
    background-color: #66b2b2;
}
#tabEntertainment td{
    padding: 10px;
    text-align: center;
}
.expenseInput{
    width: 110px;
}
.expenseInput{
    border-radius:10px;
    border:none;
    text-align: center;
    width:80px;
    height: 30px;
    box-shadow:inset 1px 1px 2px 1px #375847;
    color:#004C4C;
    font-weight: bold;
}
.expensesAdd{
    background-color: #004c4c;
    border-radius: 5px;
    border:none;
    box-shadow: 1px 1px 2px #010101;
    height: 35px;
    width:35px;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 0px 0px;
    border:1px solid #004c4c;
    color:#ffffff;
}
.expensesAdd:hover{
    background-color: #b2d8d8;
    transition-duration: 0.5s;
    color:#004c4c;
}
#Submit{
    background: Url("/resources/Refresh.png");
    border: 0;
    display: block;
    float:right;
    height: 70px;
    width: 70px;
    background-size:100%;
}
#Submit:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
}

/* Expenses CALCULATIONS */
.expensesCalculations{
    display: inline-block;
    width: 10%;
    vertical-align: top;
}

/*--------------Recipes-------------- */
.recipes{

    display: inline-block;
    width:65%;
    vertical-align: top;
    margin-left:20px;
    background-color: #FFE39F;
    border-radius: 40px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}

.recipes_new{

    display: inline-block;
    width:65%;
    vertical-align: top;
    margin-left:20px;
    background-color: #FFE39F;
    border-radius: 40px;
    color:white;
    margin-top: 10px;
    margin-left: 10px;
}