@import "bootstrap.css";

@import "main.css";


.icon{
    font-size: 5rem;
}

.homebuddy-logo{
    width:150px;
    margin: 24px;
}

a {
    text-decoration: none;
}

a:hover{
    color:white;
}

.back-button:hover{
    color:white;
}