body{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  margin: 0;
  padding: 0;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

.app{
  display: flex;
  flex-direction: column;
}

.topbar{
  display: flex;
  border-bottom: 2px solid #4f8b8e;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px 5px 10px;
  background: radial-gradient(circle, rgba(255,255,255,1) 72%, rgba(236,236,236,1) 100%);
  
}

.topbar ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin:0;
  
}

.topbar li{
  margin: 0 40px 0 40px;
  
}

.topbar li a:hover{
  cursor: pointer;
  border-bottom: 2px solid #4f8b8e;
}


.user-welcome{
  justify-self: flex-end;
  margin-left: auto;
  font-size: smaller;
}

.topbar img{
  margin-right:20px;
  width: 100px;
}








.week-table{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 60px 10px 20px 10px;
  
}

.weekday{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 5px 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 22px 16px -28px rgba(0,0,0,1);
  background-color: #7fc6c6;
  color:white;
}

.weekday:hover{
  transform: scale(1.1);
}

.week-table-cell:nth-child(even){
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-width: 70%;
  border: 1px dotted #bee9e9;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  background-color: #bee9e9;
  box-shadow: inset -2px 1px 16px -12px rgba(0,0,0,1);
}

.week-table-cell:nth-child(even) > *{
  padding: 5px;
  cursor:pointer;
}



.container-retete{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;

  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(129,195,198,1) 100%);
  border-top: 5px solid #7fc6c6;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}



.retete{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  background: radial-gradient(circle, rgba(255,255,255,1) 72%, rgba(236,236,236,1) 100%);
  padding: 20px;
  margin: 30px;
  border-radius:10px;
  box-shadow: 2px 3px 5px grey;
}

.retete:nth-child(1) .list1 , .retete:nth-child(2) .list1, .retete:nth-child(3) .list1 , .retete:nth-child(4) .list1{
  margin: 5px;
  text-align: center;
  padding:5px;
  border: 1px solid rgb(127, 198, 198, 0.4);
  border-radius: 10px;
  color:black;
  cursor: grab;
  box-shadow: 2px 2px 2px rgb(147, 147, 147);
}
.retete .retete_titlu{
  font-size: 20px;
  margin-bottom: 20px;
  padding-left:10px;
  padding-right:10px;
 text-align: center;
 color: #4f8b8e;
}

.btn-new-recipe{
  background: #7fc6c6;
  border: 2px solid #7fc6c6;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  max-width: 200px;
  outline: 0;
  padding: 6px 7px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 100px 20px 20px 20px;
}


.submit-form{
 margin-top: 10px;
 margin-left: 20px;
}

.submit-form input[type="submit"]{
  background: #FAAC60;
  border: 2px solid #FAAC60;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-form input[type="submit"]:hover{
  background-color: initial;
  background-position: 0 0;
  color: #FAAC60;
}

.popup-menu, .popup-recipe {
  display: flex;
  position:absolute;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  width:100%;
  height:100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.popup-form{
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: center;
  align-content: center;
  margin: 20px;
  padding:60px 40px 40px 40px;
  color:grey;
  font-size: 15px;
  border-radius:10px;
  background-color: #c6e6e6;
  position:relative;
}

.close-pop{
  position: absolute;
  top:10px;
  right: 20px;
  transform: rotate(45deg);
  font-size: 30px;
  color:black;

}

.close-pop:hover{
  cursor:pointer;
  font-size:32px;

}

.popup-form > *{
  border-radius: 10px;
  border: none;
  min-height: 30px;

}
.popup-form input{
  font-size: large;
}

.popup-menu .show , .popup-recipe .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

.popup-form #submit{
  background-color:#65B0B2;
  color:white;
  padding: 10px;
  align-self: flex-start;
}

.popup-form #submit:hover{
  background-color:#4f8b8e;
}

.popup-form textarea{
  max-width: 70vw;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#popupClose{
float:right;
position:relative;
margin-right: -4%;
}

#popupClose:hover{
width:35px;
height: 35px;
cursor:pointer;

}

@media screen and (max-width: 600px){
  .weekday{
    width:90vw;
  }
  
  .week-table-cell:nth-child(even){
    width:90%;
  }
  .retete{
    min-width:80%;
  }
  }

